[color]
    ui = true
[user]
    name = Adam Schwartz
    email = adam@anschwa.com
[alias]
    lol = log --graph --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short
    amend = commit --amend -C HEAD
    prune = fetch --prune
    stash-all = stash save --include-untracked
    undo = reset --soft HEAD^
    st = status -sb --ignore-submodules
    ci = commit
    br = branch
    co = checkout
    df = diff
    review = diff --cached
    ignorechanges = update-index --assume-unchanged
[core]
    excludesfile = ~/.gitignore_global
[push]
    default = current
    followTags = true
[pull]
    default = current
[fetch]
    default = matching
[status]
    showUntrackedFiles = all
