[color]
    ui = true
[alias]
    ll = log --graph --pretty=format:\"%C(yellow)%h %C(blue)%ad%C(red)%d %C(reset)%s%C(green) [%cn]\" --decorate --date=short
    l = ll -12
    undo = reset --soft HEAD^
    st = status -sb --ignore-submodules
    ci = commit
    br = branch
    co = checkout
    df = diff
    new = ll ...main
    changed = diff --name-only main
    review = diff --cached
    ignorechanges = update-index --assume-unchanged
[core]
    editor = "vi"
    excludesfile = ~/.gitignore_global
    quotepath = off
[push]
    default = current
    followTags = true
    autoSetupRemote = true
[pull]
    default = current
    ff = only
[fetch]
    default = matching
[status]
    showUntrackedFiles = all
[diff]
    wsErrorHighlight = all
[init]
    defaultBranch = main
[url "git@github.com:anschwa"]
    insteadOf = https://github.com/anschwa
[tag]
    sort = -version:refname
